/*

Thiago Peres Schweitzer 

http://thiagoperess.github.io

*/


html {
    zoom: 0.9;
}

body {
    background-color: #fdf8f8;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    text-align: left;
    
}

img {
    align-items: center;
}

h1 {
    align-items: center;
    font-family: OCR A Std, monospace;
    font-weight: bolder;
}

h5 {
    margin-top: -10px;
    font-family: cursive;
}

body h3 {
    color: #FFFFFF;
}

body h6 {
    color: #000000;
}

body p {
    color: #FFFFFF;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bolder;
}

header {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.tm-site-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.tm-site-header {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
}

.tm-welcome-text {
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.tm-font-400 {
    font-weight: 400;
}

.tm-text-light-gray {
    color: #CDCDCD;
}

.tm-text-gray {
    color: #050505;
    font-weight: bold;
}

.tm-text-white {
    color: #FFFFFF;
}

a.tm-text-white:hover,
a.tm-text-white:focus {
    color: #FFFFFF;
}

.tm-text-green {
    color: #33CCCC;
    font-weight: bolder
}

.tm-text-cyan {
    color: #7e26b1;
    font-weight: bolder
}

.tm-text-new2 {
    color: tomato;
    font-weight: bol;
}

.tm-text-new3 {
    color: orange;
    font-weight: bol;
}

.tm-text-new4 {
    color: rgb(50, 170, 50);
    font-weight: bol;
}

.tm-text-new5 {
    color: rgb(45, 148, 189);
    font-weight: bol;
}

.tm-text-new6 {
    color: rgb(16, 9, 80);
    font-weight: bol;
}

.tm-text-new10 {
    color: rgb(255, 218, 9);
    font-weight: bol;
}

.tm-text-new12 {
    color: cornflowerblue;
    font-weight: bol;
}

.tm-text-new13 {
    color: rgb(109, 149, 223);
    font-weight: bol;
}

.tm-text-yellow {
    color: #FFFFFF;
    font-weight: bolder
}

.tm-text-orange {
    color: #000000;
    font-weight: bolder
}

.tm-text-new {
    color: #314cc4;
    font-weight: bolder
}

.tm-bg-dark {
    background-color: #262626;
}

.tm-bg-dark-light {
    background-color: #404040;
}

hr {
    border-color: #666666;
    max-width: 70%;
}

.tm-timeline-item {
    margin: auto;
}

.tm-timeline-item-inner {
    display: flex;
    align-items: center;
}

.tm-img-timeline {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 3px solid black;
}

.tm-img-timeline2 {
    font-size: 18px;
    margin: center;
}

.tm-img-timeline3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: #616060;
}

.tm-timeline-connector-vertical {
    height: 60px;
    width: 3px;
    background-color: #616060;
    margin-left: 250px;
}

.tm-timeline-description {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    max-width: 712px;
}

.tm-section-mb {
    margin-bottom: 85px;
}

.tm-section-mt {
    margin-top: 85px;
}

.tm-contact-form {
    max-width: 500px;
}

.form-control {
    border-radius: 0;
    border-color: #666666;
	color: #CCC;
    background: transparent;
    padding: 12px 15px;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #DDDDDD;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #DDDDDD;
}

iframe {
    max-width: 100%;
}

#google-map {
    max-width: 500px;
    width: 100%;
    height: 300px;
}

.tm-btn-send {
    border-radius: 0;
    font-size: 1.1rem;
    padding: 12px 50px;
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}

.tm-btn-send:hover,
.tm-btn-send:focus {
    background: #CCCCCC;
    color: #333333;
}

.form-control:focus {
    background-color: transparent;
    border-color: #CCCCCC;
	color: #FFF;
    box-shadow: 0 0 0 0.2rem #cccccc14;
}

input,
textarea,
[contenteditable] {
    caret-color: #FFFFFF;
}

p {
    line-height: 1.9;
}

footer p {
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
    .tm-container-2 {
        max-width: 1170px;
    }
}


@media (max-width: 584px) {
    .tm-timeline-item-inner {
        flex-direction: column;
    }
    .tm-timeline-connector {
        width: 3px;
        height: 55px;
    }
    .tm-timeline-connector-vertical {
        margin-left: auto;
        margin-right: auto;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
